@import url('https://fonts.googleapis.com/css?family=Cabin|Lora|Roboto+Slab|Righteous|Kaushan+Script');

html{
  scroll-behavior: smooth;
}

body {
  background: #fff;
  color: #2f3138;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.page-loader{
  background: #1A2980;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #26D0CE, #1A2980);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #26D0CE, #1A2980); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 100;
  height: 100vh;
  width: 100vw;
}

.loader{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

  /*Navbar*/
   
  .head{
    position: relative;
    z-index: 10;
    top: 0;
    left:0;
    padding: 0 100px;
    background-color: #42378f;
background-image: linear-gradient(315deg, #42378f 0%, #f53844 74%);
    width: 100%;
    box-sizing: border-box;
}

.head .logo .ltext{
    font-family: 'Righteous';
    color: #fff;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
    float: left;
    font-weight: bold;
    display: none;
}

.im1{
  margin-top: 15px;
  font-family: 'Righteous';
    color: #fff;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
    float: left;
    font-weight: bold;
  width: 350px;
  height: 50px;
}

.head nav{
    float: right;
}

.head nav ul{
    margin: 0;
    padding:0;
    display: flex;
}

.head nav ul li{
    list-style: none;
    position: relative;

}



.head nav ul li ul{
    position: absolute;
    left: 0;
    background: #75787B;
    display: none; 
}

.head nav ul li.active ul{
    display: block;
}

.head nav ul li ul li{
    display: block;
    width: 200px;
}

.head nav ul li a{
    font-family: Cabin;
    height: 80px;
    line-height: 50px;
    padding: 15px 35px;
    color: #fff;
    text-decoration: none;
    display: block;
    font-size: 20px;
}

.head nav ul li ul li a{
  font-family: Cabin;
  height: 80px;
  line-height: 50px;
  padding: 18px 20px;
  color: #fff;
  text-decoration: none;
  display: block;
  font-size: 17px;
}

.head nav ul li a:hover,header nav ul li a.active{
    color: #fff;
    background: black;
    text-decoration: none;
    font-weight: 900;
}

.menu-toggle{
    color: #fff;
    float: right;
    line-height: 50px;
    font-size: 30px;
    cursor: pointer;
    display: none;
}
#Event a {
  color: #f82249;
  transition: 0.5s;
}

#Event a:hover,
a:active,
a:focus {
  color: #003152;
  outline: none;
  text-decoration: none;
}

#Event p {
  padding: 0;
  margin: 0 0 30px 0;
}

#Event h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
  color: white;
}


/* Back to top button */

.back-to-top {
  position: fixed;
  display: none;
  background: #003152;
  color: #fff;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50px;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s ease-in-out;
}

.back-to-top i {
  font-size: 24px;
  padding-top: 6px;
}

.back-to-top:focus {
  background: #e0072f;
  color: #fff;
  outline: none;
}

.back-to-top:hover {
  background: #e0072f;
  color: #fff;
}


/* Sections Header
--------------------------------*/
.section-header {
  margin-bottom: 60px;
  position: relative;
  padding-bottom: 20px;
}

.section-header::before {
  content: '';
  position: absolute;
  display: block;
  width: 60px;
  height: 5px;
  background: #003152;
  bottom: 0;
  left: calc(50% - 25px);
}

.section-header h2 {
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
  color: #003152;
}

.section-header p {
  text-align: center;
  font-style: italic;
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  color: black;
}

.section-with-bg {
  background-color: #f6f7fd;
}

/*
# Intro Section
*/

#intro {
  width: 100%;
  height: 100vh;
  background: url(../img/intro.jpg) top center;
  background-size:cover;
  background-attachment:fixed;
  background
  overflow: hidden;
  position: relative;
}

#intro:before {
  content: "";
  background: rgba(6, 12, 34, 0.8);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#intro .intro-container {
  background-size:cover;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 90px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
}

#intro h2 {
  color: #fff;
  font-family: "Arial", sans-serif;
  font-size: auto;
  font-weight: 600;
}

#intro p {
  color: #ebebeb;
  font-weight: 700;
  font-size: 20px;
}



#intro .about-btn {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #fff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 2px solid #f82249;
}

#intro .about-btn:hover {
  background: #f82249;
  color: #fff;
}

/*
# About
*/

#about {
  background: url("../img/about.jpg");
  background-size:cover;
  background-attachment:fixed;
  overflow: hidden;
  position: relative;
  color: #fff;
  padding: 60px 0 40px 0;
}

#about:before {
  content: "";
  background: rgba(13, 20, 41, 0.8);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#about h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff;
}

#about h3 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #fff;
}

#about p {
  font-size: 14px;
  margin-bottom: 20px;
  color: #fff;
}

/*
# Previous Workshops
*/


#prev {
  padding: 60px;
}

#prev .pe {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}

#prev .pe img{
  height:250px;
  width:400px;

}

#prev .pe .details {

}

#prev .pe .details p {
  color: #fff;
  font-size: 12px;
  margin-bottom: 10px;
  font-style: italic;
  background: rgba(6, 12, 34, 0.76);
}

#prev .pe .details {
  height: 0px;
}

#prev .pe  {
  color: #fff;
}

#prev .pe .details  {
  color: #f82249;
}

#prev .pe:hover .details {
  bottom: 250px;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  padding-top: 10px;
  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

/*
# Workshop
*/

#ws {
  padding: 60px;
}

#ws .ws {
  border: 1px solid #e0e5fa;
  background: #fff;
  margin-bottom: 30px;
}

#ws .ws:hover img{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
  filter: blur(4px);
}

#ws .ws-img img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
filter: blur(10px);
}


#ws .ws-img {
  display:flex;
  justify-content: center;
  overflow: scroll;
  padding: 20px;
  margin-bottom: 15px;
  width: auto;
  height: 200px;
}

#ws .ws-img img {
  transition: 0.3s ease-in-out;
  width: auto;
  height: 180px;
}

#ws h3 {
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 5px;
  padding: 0 20px;
  color: blue;
  text-align: center;
  font-family: helvetica;
  font-style: italic;
}

#ws a {
  color: #152b79;
}

#ws a:hover {
  color: #f82249;
}

#ws p {
  padding: 0 20px;
  margin-bottom: 20px;
  color: #060c22;
  font-style: italic;
  font-size: 15px;
}
/*-
# Gallery Section
*/

#gallery {
  padding: 100px;
  overflow: hidden;
}

#gallery .owl-nav,
#gallery .owl-dots {
  margin-top: 25px;
  text-align: center;
}

#gallery .owl-item {
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
}

#gallery .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
}

#gallery .owl-dot.active {
  background-color: #f82249;
}

#gallery .gallery-carousel .owl-stage-outer {
  overflow: visible;
}

#gallery .gallery-carousel .center {
  border: 6px solid #f82249;
  margin: -10px;
  box-sizing: content-box;
  padding: 4px;
  background: #fff;
  z-index: 1;
}





@media (max-width:1024px) {

  .head .logo{
      font-family: 'Righteous';
      color: #fff;
      height: 50px;
      line-height: 50px;
      font-size: 30px;
      float: left;
      font-weight: bold;
      padding-top: 0;
  }

  .head nav ul li a{
      font-family: Cabin;
      height: 50px;
      line-height: 25px;
      padding: 0 20 px;
      color: #fff;
      text-decoration: none;
      display: block;
  }

  .im1{
    margin-top:5px;
    width: 250px;
    height: 35px;
  }
  
  .head{
      padding: 0 20px;
  }

  .menu-toggle{
      display: block;
  }

  .head nav{
      position: absolute;
      width: 100%;
      height: calc(100vh - 50px);
      background: #333;
      top:50px;
      left:-100%;
      transition: 0.5s;

  }

  .head nav.active{
      left: 0;
  }

  .head nav ul{
      display: block;
      text-align: center;
  }

  .head nav ul li a{
      border-bottom: 1px solid rgba(0,0,0,0.2);

  }

  .head nav ul li.active ul{
      position: relative;
  }

  .head nav ul li ul li{
      width: 100%;
  }
}



/*Footer*/

.col-header{
	border-left: 5px solid #0728BD;
}
.footer-top{
/*	padding-bottom:180px; */
	padding-top: 20px;
	background-color: #121112;
	color:white;
	
}
.footer-container{
	padding-top: 20px;
}
.footer-anchors{
    color: white;
    text-decoration: none;
}

.footer-anchors:hover 
{
    
     text-decoration:none; 
     cursor:pointer;  
}
.fa-facebook-f:hover
{
	color:#4368B2;
}
.fa-instagram:hover
{
	color:#CC2E88;
}

.fa-twitter:hover
{
	color:#00A6E9;
}
.fa-linkedin-in:hover
{
	color:#0077B5;
}

.message-para{
	font-family: Montserrat;
	font-weight: 600;
}

.copyright{
	background-color: black;
	color: grey;
	height: 15%;
	padding: 10px;
}

.grey-circle{
	margin-right: 5px; 
 	display: inline-block;
    text-align: center;
}
.footer-anchors-social{
	background: #494848;
	width: 40px;
	height: 40px;
	display: inline-block;
	border-radius: 50%;
}
.footer_font_awesome{
	font-size: 20px;
	color:#fff;
	padding: 10px 12px;

}
.follow{
	height: 40px;
}
.footer-contact::first-letter{
	
  font-size: 150%;

}
.social-icons{
	/*margin: 5px;*/
	color: white;
	
}


.message-para{
	font-weight: 500;
	padding: 10px;
	font-family: 'Nova Mono', monospace;
	opacity: 0.8;
}
.newsletter_para{
	font-weight: 500;
	padding: 10px;
	
	opacity: 0.8;
}


.footer-mid{
  
  width: 80%;

}



.footer-mid-ul{
	padding-top: 20px;
	font-family: 'Montserrat', sans-serif;
  	list-style-type: none;
  	margin: 0;
  	padding: 0;

}

.footer-mid::first-letter{
	
  font-size: 150%;

}

.footer-mid-li {
	width:0%;
	font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
	border-bottom: 0.1px solid #ccc;
	color: white;

}

.footer-mid-li:last-child {
  border: none;
}

.footer-mid-li {
	opacity: 0.9;
  font: 100 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}


.footer-mid-li a {
	text-indent: 5%;
  text-decoration: none;
  border-radius: 20px;
  color:white;

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
  display: block;
  width: 200px;
}

.footer-mid-li a:hover {
  font-size: 25px;
  background: #30352E;


}
.col-header{
	text-indent: 5px;
}
.vision::first-letter{
	
  font-size: 150%;

}

.footer-heading{
	color: white;
	font-weight: 700;
	font-size: 2em;
	font-family: Montserrat, sans-serif;
	letter-spacing: 0.2em;
	text-shadow: .3px 1.3px 0.7px white;
}


.reach-us-text{
	position: relative;
	font-family: 'Montserrat', sans-serif;
  	list-style-type: none;
  	font-size: 0.7em;
  	right: -20px;
  	
  	/*margin-bottom: 50px;
  	right:-15%;*/
  	
}
.address{
	
	font-family: 'Montserrat', sans-serif;
  	list-style-type: none;
  	
  	font-size: 1.1em;
  	/*margin-left: 20px;*/
  	
  	
  	/*bottom: 150%;
  	right:-15%;*/
  	color: white;
}
.subscribe{
	background: #0728BD;
	border-radius: 10px;
	border:none;
	padding: 3px 15px;
	
	color: #fff;
	text-transform: uppercase;
	display: inline-block;


}
.subscribe_input{
	padding-top: 10px; 

	/*border-radius: 10px;*/
	border:none;
}
.wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  text-align:center;
  font-size: 1.5rem;
}

textarea::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

textarea::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #4285F4;
   }

@media screen and (max-width: 1200px) {
	/*.grey-circle{
		margin-right: 5px; 
	 	display: inline-block;
	    text-align: center;
	}*/
	
}
@media screen and (max-width: 500px) {
	.footer-top{
	padding-bottom:180px; 
	padding-top: 20px;
	background-color: #121112;
	color:white;
	
}
	main{
	   max-width: 100vw;
	
    overflow-x: hidden;
    position: absolute;
    height: auto;
   }
	.input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child){
		width: 100%;
		margin-left:10px; 
		margin-right:10px; 
	}
	.feedback-text{
		margin-left:10px; 
		margin-right:10px;  
		
	}
	
	.send-button{
		margin: 0 auto; 
	}
	/*.newsletter-heading{
		margin-top: 20px;
	}*/
	.footer-contact{
		margin-bottom: 43%;
	}
	.message-para{
		width: 70%;
	}
	.newsletter_para{

		width: 70%;

	}
	.footer-container{
		margin-bottom: -280px;
	}
	.footer-mid{
		margin-bottom: 20px;
	}
	/*.footer-top{
		padding-bottom:260px; 
		padding-top: 40px;
		background-color: #121112;
		color:white;
	
	}*/
}
