/* ==========================================================================
HTML5 display definitions
========================================================================== */

/*
* Corrects `block` display not defined in IE 6/7/8/9 and Firefox 3.
*/

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
    display: block
}

/*
* Corrects `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
*/
audio, canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

/*
* Prevents modern browsers from displaying `audio` without controls.
* Remove excess height in iOS 5 devices.
*/
audio:not([controls]) {
    display: none;
    height: 0;
}

/*
* Addresses styling for `hidden` attribute not present in IE 7/8/9, Firefox 3, * and Safari 4.
* Known issue:no IE 6 support.
*/
[hidden] {
    display: none
}

/* ==========================================================================
Base
========================================================================== */
/*
* 1. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
*    `em` units.
* 2. Prevents iOS text size adjust after orientation change, without disabling
*    user zoom.
*/

html, button, input, select, textarea {
    font-family: sans-serif;
    font-family: 'Nunito', sans-serif;
}
html, body {
    overflow-x: hidden;
    width: 100%;
}

/*
* Addresses margins handled incorrectly in IE 6/7.
*/
body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

/*
* Font Smoothing
*/
html, html a {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    -webkit-font-smoothing: antialiased;
}

/* ==========================================================================
Links
========================================================================== */
/*
* Addresses `outline` inconsistency between Chrome and other browsers.
*/

a:focus {
    outline: thin dotted;
    text-decoration: none;
}

/*
* Improves readability when focused and also mouse hovered in all browsers.
*/
a:active, a:hover {
    outline: 0;
    text-decoration: none;
}

/* ==========================================================================
Typography
========================================================================== */
/*
* Addresses font sizes and margins set differently in IE 6/7.
* Addresses font sizes within `section` and `article` in Firefox 4+, Safari 5, * and Chrome.
*/

h1 {
    font-size: 2em;
}
h2 {
    margin: 0.83em 0;
    font-size: 1.5em;
}
h3 {
    margin: 1em 0;
    font-size: 1.17em;
}
h4 {
    margin: 1.33em 0;
    font-size: 1em;
}
h5 {
    margin: 1.67em 0;
    font-size: 0.83em;
}
h6 {
    margin: 2.33em 0;
    font-size: 0.75em;
}
h7 {
	font-size:2em;
	font-family:"Times New Roman";
	color:white;
}
h11 {
	font-size:40px;
	font-family:"Times New Roman";
	color:#3f6184;
}
	

/*
* Addresses styling not present in IE 7/8/9, Safari 5, and Chrome.
*/
abbr[title] {
    border-bottom: 1px dotted
}

/*
* Addresses style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
*/
b, strong {
    font-weight: bold
}
blockquote {
    margin: 0px
}
marquee {
	padding:20px;
	margin-left:120px;
	margin-right:100px;
}
	
/*
* Addresses styling not present in Safari 5 and Chrome.
*/
dfn {
    font-style: italic
}

/*
* Addresses styling not present in IE 6/7/8/9.
*/
mark {
    background: #ff0;
    color: #000;
}

/*
* Addresses margins set differently in IE 6/7.
*/
p, pre {
	color:white;
}

/*
* Corrects font family set oddly in IE 6, Safari 4/5, and Chrome.
*/
code, kbd, pre, samp {
    font-size: 1em;
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
}

/*
* Improves readability of pre-formatted text in all browsers.
*/
pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/*
* Addresses CSS quotes not supported in IE 6/7.
*/
q {
    quotes: none
}

/*
* Addresses `quotes` property not supported in Safari 4.
*/
q:before, q:after {
    content: '';
    content: none;
}
small {
    font-size: 75%
}

/*
* Prevents `sub` and `sup` affecting `line-height` in all browsers.
*/
sub, sup {
    position: relative;
    vertical-align: baseline;
    font-size: 75%;
    line-height: 0;
}
sup {
    top: -0.5em
}
sub {
    bottom: -0.25em
}

/* ==========================================================================
Lists
========================================================================== */
/*
* Addresses margins set differently in IE 6/7.
*/


dd {
    margin: 0 0 0 40px
}

/*
* Addresses paddings set differently in IE 6/7.
*/
menu, ol, ul {
    padding: 0px;
}

/*
* Corrects list images handled incorrectly in IE 7.
*/
nav ul, nav ol {
    list-style: none;
    list-style-image: none;
}

/* ==========================================================================
Embedded content
========================================================================== */
/*
* 1. Removes border when inside `a` element in IE 6/7/8/9 and Firefox 3.
* 2. Improves image quality when scaled in IE 7.
*/

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/*
* Corrects overflow displayed oddly in IE 9.
*/
svg:not(:root) {
    overflow: hidden
}

/* ==========================================================================
Figures
========================================================================== */
/*
* Addresses margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
*/

figure {
    margin: 0
}

/* ==========================================================================
Forms
========================================================================== */
/*
* Corrects margin displayed oddly in IE 6/7.
*/

form {
    margin: 0
}

/*
* Define consistent border, margin, and padding.
*/
fieldset {
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
    border: 1px solid #c0c0c0;
}

/*
* 1. Corrects color not being inherited in IE 6/7/8/9.
* 2. Corrects text not wrapping in Firefox 3.
* 3. Corrects alignment displayed oddly in IE 6/7.
*/
legend {
    padding: 0;
    border: 0; /* 1 */
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/*
* 1. Corrects font size not being inherited in all browsers.
* 2. Addresses margins set differently in IE 6/7, Firefox 3+, Safari 5, *    and Chrome.
* 3. Improves appearance and consistency in all browsers.
*/
button, input, select, textarea {
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    font-size: 100%; /* 1 */
    *vertical-align: middle; /* 3 */
}

/*
* Addresses Firefox 3+ setting `line-height` on `input` using ` !important` in
* the UA stylesheet.
*/
button, input {
    line-height: normal
}

/*
* 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
*    and `video` controls.
* 2. Corrects inability to style clickable `input` types in iOS.
* 3. Improves usability and consistency of cursor style between image-type
*    `input` and others.
* 4. Removes inner spacing in IE 7 without affecting normal text inputs.
*    Known issue:inner spacing remains in IE 6.
*/
button, html input[type="button"], /* 1 */
input[type="reset"], input[type="submit"] {
    cursor: pointer; /* 3 */
    -webkit-appearance: button; /* 2 */
    *overflow: visible; /* 4 */
}

/*
* Re-set default cursor for disabled elements.
*/
button[disabled], input[disabled] {
    cursor: default
}

/*
* 1. Addresses box sizing set to content-box in IE 8/9.
* 2. Removes excess padding in IE 8/9.
* 3. Removes excess padding in IE 7.
*    Known issue:excess padding remains in IE 6.
*/
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/*
* 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
* 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
*    (include `-moz` to future-proof).
*/
input[type="search"] {
    /* 2 */
    box-sizing: content-box;
    -webkit-appearance: textfield; /* 1 */
    nowhitespace: afterproperty;
}

/*
* Removes inner padding and search cancel button in Safari 5 and Chrome
* on OS X.
*/
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

/*
* Removes inner padding and border in Firefox 3+.
*/
button::-moz-focus-inner, input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

/*
* 1. Removes default vertical scrollbar in IE 6/7/8/9.
* 2. Improves readability and alignment in all browsers.
*/
textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/* ==========================================================================
Tables
========================================================================== */
/*
* Remove most spacing between table cells.
*/

table {
    border-spacing: 0;
    border-collapse: collapse;
}

/* ==========================================================================
Global Styles
========================================================================== */
.group:after {
    content: "";
    display: table;
    clear: both;
}
a {
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    -webkit-transition-property: color, border-color, background-color;
    transition-property: color, border-color, background-color;
}
.nopadding {
    margin: 0 !important;
    padding: 0 !important;
}

a {
    color: #73d0da
}
a:hover, a:focus {
    color: #73d0da;
    text-decoration: none;
}
.texture-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url(../img/grid.png);
}

/*Number*/
.number h3 {
	color:#8B0000;
	font-size:25px;
	text-align:center;
	margin-bottom:5px;
	font-family:"Times New Roman";
	
}
.number p{
	color:white;
	font-size:20px;
	text-align:center;
	font-family:"Times New Roman";
}
.number {
	margin-right:0;
	margin-top:10px;
}

.slideanim p{
	padding:5px;
	color:#808080;
	margin-left:10px;
}
	

/* ==========================================================================
Buttons
========================================================================== */
.use-btn {
    display: inline-block;
    margin: 0 10px 10px 0;
    padding: 20px 50px;
    border-radius: 3px;
    background-color: #fff;
    color: #4b98a9;
    font-size: 16px;
}
.use-btn:hover, .use-btn:focus {
    background-color: #73d0da;
    color: #fff;
    text-decoration: none;
}
.learn-btn, .download-btn {
    display: inline-block;
    padding: 18px 46px;
    border: 2px solid #fff;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
}
.learn-btn:hover, .download-btn:hover, .learn-btn:focus, .download-btn:focus {
    border-color: #73d0da;
    color: #73d0da;
    text-decoration: none;
}
.read-more-btn {
    display: inline-block;
    color: #323a45;
    text-transform: uppercase;
    font-weight: 400;
}
.read-more-btn i, .download-btn i {
    margin-left: 5px
}
.showcase .download-btn {
    margin-top: 50px
}
.download .download-btn {
    margin-top: 25px
}
.download-btn a{
	color:#3F6184;
	padding:20px;
}

/* ==========================================================================
Navigation
========================================================================== */
.nav-toggle {
    position: absolute;
    top: 0;
    right: 15px;
    z-index: 999999;
    padding: 10px 35px 16px 0px;
    cursor: pointer;
}
.nav-toggle:focus {
    outline: none;
}
.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
    content: '';
    position: absolute;
    display: block;
    width: 35px;
    height: 5px;
    border-radius: 1px;
    background: #fff;
    cursor: pointer;
}
.nav-toggle span:before {
    top: -10px
}
.nav-toggle span:after {
    bottom: -10px
}
.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.nav-toggle.active span {
    background-color: transparent
}
.nav-toggle.active span:before, .nav-toggle.active span:after {
    top: 0
}
.nav-toggle.active span:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.nav-toggle.active span:after {
    top: 10px;
    -webkit-transform: translateY(-10px) rotate(-45deg);
    -ms-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg);
}
.navicon {
    position: relative;
    height: 10px;
	
}
.navicon p {
    margin: 1px 50px 0 0
}
.navicon-fixed {
    position: relative;
    top: 60px;
    right: 143px;
}
.nav-wrapper img{
	width:200px;
}

	
/* ==========================================================================
Hero
========================================================================== */
.hero {
    position: relative;
    padding: 100px 0 0 0;
    min-height:800px;
    background: rgb(40, 70, 102) url('../img/1.jpg') center;
    background-size: cover;
}
.hero h1 {
    margin: 160px 0 0px 0;
    font-weight: 300;
    font-size: 38px;
	font-family:"Times New Roman";
	color:white;
}
.hero h1 span {
    display: inline-block;
    color: white;
	padding:0;
}	

#home {
    width: 100%;
    height: 100%;
}
.hero {
    width: 100%;
    height: 100%;
}
.header i {
    margin-left: 10px
}


/* ==========================================================================
Custom Slider Controls (Flickity)
========================================================================== */
.flickity-page-dots .dot {
    width: 13px;
    height: 13px;
    opacity: 1;
    background: transparent;
    border: 2px solid white;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
}
.flickity-page-dots .dot.is-selected {
    background: white;
}

/* ==========================================================================
Features Slider
========================================================================== */
.features-bg {
    position: relative;
    min-height: 400px;
    background: url('../img/Rocket-100.jpg')center;
    background-size: cover;
}
.features-img {
    width: 100%;
    height: 400px;
    text-align: center;
    line-height: 400px;
}
.features-slider {
    position: relative;
    padding: 11% 100px 10% 100px;
    height: 400px;
    background-color: #3F6184;
}
.features-slider ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.features-slider ul li {
    width: 100%;
}
.features-slider li h1 {
    margin-bottom: 15px;
    color: #fff;
    font-weight: 400;
    font-size: 22px;
}
.features-slider li p {
    color: #fff;
    font-size: 14px;
}
.features-intro-img {
    position: relative
}
.slides li h1 {
    margin: 0;
    padding: 0;
}
.features-slider .flickity-page-dots {
    text-align: left;
    margin-top: 20px;
    position: static;
}
.features-slider .flickity-page-dots .dot {
    margin: 0 12px 0 0;
}

/* ==========================================================================
Features List
========================================================================== */
.features-list {
    padding: 30px;
	margin-left:10px;
}
.features-list h1 {
    margin: 0 0 10px 0;
    padding: 0;
    color: #24374b;
    font-size: 20px;
}
.features-list p {
    margin-bottom: 20px;
    color: #778899;
}
.feature-content {
    display: inline-block;
    margin-left: 0;
    width: 65%;
}
.feature-icon {
    display: inline-block;
    margin-right: 25px;
    width: 90px;
    height: 90px;
    border: solid 2px #4e9ba3;
    border-radius: 50%;
    vertical-align: top;
    text-align: center;
    font-size: 25px;
    line-height: 90px;
}
.feature-icon i {
    color: #4e9ba3
}

/* ==========================================================================
Blockquote
========================================================================== */
blockquote {
    margin: 40px 0 0;
    padding: 0;
    border: none;
}

blockquote p {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 80%;
    vertical-align: top;
    font-style: italic;
	font-size:15px;
}

blockquote .avatar {
    display: inline-block;
    margin-right: 20px;
    width: 64px;
    height: 64px;
    vertical-align: middle;
}
blockquote .logo-quote {
    display: inline-block;
    margin: 0 0 0 90px;
}
/*----------------------------*\
	Section
\*----------------------------*/

.section {
  position: relative;
  padding: 0px 0px;
  margin-top:5px;
  margin-bottom:10px;
  overflow:auto;
}

.section-bg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  z-index: -1;
}

.section-title {
  text-align: center;
  margin-bottom: 60px;
  font-size: 40px;
  margin-bottom: 0px;
  color: #3F6184;
  font-family:"Times Now Roman";
}
.section-titl p {
	font-size:12px;
	font-family:"Arial";
	text-align:center;
	font-style:italic;
}
.section-titl h3{
  text-align: center;
  margin-bottom: 10px;
  font-size: 40px;
  color: #fff;
  font-family:"Times Now Roman";
}
.section-titl {
  text-align: center;
  padding:20px;
}
	

.section-title .title {
  position: relative;
  text-transform: capitalize;
  font-weight: 900;
  font-size: 42px;
  overflow: hidden;
}

.section-title .title>span {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  display: inline-block;
  z-index: 10;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.section-title .title>span.appear {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
}
/*=========================================================
	EVENTS
===========================================================*/

.event {
  position: relative;
  margin-left:60px;
}

.event+.event {
  margin-top: 20px;
}

.event:after {
  content: "";
  position: absolute;
  left: 60px;
  top: 0px;
  bottom: 0px;
  width: 4px;
  background-color: #dd0a37;
}

.event:last-child:after {
  height: 60px;
}

.event+.event:before {
  content: "";
  position: absolute;
  left: 60px;
  height: 60px;
  top: -60px;
  width: 4px;
  background-color: #dd0a37;
}

.event .event-day {
  position: absolute;
  left: 0;
  top: 0;
  width: 120px;
  height:120px;
  border-radius: 50%;
  background: #dd0a37;
  z-index: 10;
}

.event .event-hour {
  position: absolute;
  left: 62px;
  top: 60px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #dd0a37;
  z-index: 10;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.event .event-day>div {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.event .event-day .day {
  display: block;
  color: #FFF;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
}

.event .event-day .year {
  color: #FFF;
  text-transform: uppercase;
  font-size: 12px;
}

.event .event-content {
  padding-left: 160px;
  min-height: 120px;
}

.event .event-time {
  font-size: 14px;
}

.event .event-time i {
  color: #dd0a37;
}

.event .event-content a {
  color: #dd0a37;
}

.download-btn {
  margin-top: 10px;
  text-align: center;
  color:#fff;
}
.download-btn1 {
  margin-top: 10px;
  text-align: center;
  color:#fff;
  margin-left:10px;
  margin-right:10px;
}


/* ==========================================================================
Video
========================================================================== */
section.video i {
    margin-right: 10px;
    color: #323a45;
    vertical-align: middle;
    font-size: 50px;
    -webkit-transition: color 300ms ease-in-out;
    transition: color 300ms ease-in-out;
}
section.video h1 {
    font-weight: 400;
    font-size: 20px;
}
section.video {
    padding: 10px 0;
    background-color: #f6f7f9;
}
section.video a {
    color: #323a45
}
section.video a:hover, section.video a:focus {
    color: #73d0da;
    text-decoration: none;
}
section.video a:hover i, section.video a:focus i {
    color: #73d0da
}


/* ==========================================================================
Showcase
========================================================================== */
.showcase {
    background: url('../img/showcase-bg-fixed-01.jpg') no-repeat center center fixed;
    background-size: cover;
}
.showcase h1 {
    margin: 0 0 20px 0;
    color: #fff;
    font-weight: 400;
    font-size: 22px;
}
.showcase p {
    margin-bottom: 25px;
    color: #fff;
}
.device {
    position: absolute;
    top: -60px;
    left: 20%;
    min-height: 676px;
    width: 359px;
    background: url('../img/iphone-skeleton.png') no-repeat center center;
}
.device-content {
    position: absolute;
    top: 115px;
    left: 56px;
    width: 247px;
    height: 445px;
    background: rgba(0, 0, 0, 0.3);
}
.device-content img {
    width: 247px;
    height: 445px;
}
.showcase-wrap {
    position: relative;
    padding: 100px 0;
    min-height: 600px;
}
.showcase-slider ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.showcase-slider .flickity-page-dots {
    bottom: 20px;
}



/* ==========================================================================
Download Now
========================================================================== */
.download {
    padding: 120px 0;
    background-color: #3f6184;
}
.download h1 {
    margin: 0 0 15px 0;
    color: #fff;
	font-family:"Times New Roman";
    font-weight: 400;
    font-size: 40px;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
  background: #00428a;
  padding: 0 0 10px 0;
  color: #eee;
  font-size: 14px;
}

#footer .footer-top {
  background: #004a99;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 34px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#footer .footer-top .footer-info p {
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  color: #ecf5ff;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #007bff;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #0067d5;
  color: #fff;
}

#footer .footer-top h4 {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 10px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul li {
  padding: 8px 0;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #ecf5ff;
}

#footer .footer-top .footer-links ul a:hover {
  color: #74b5fc;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
}

#footer .footer-top .footer-newsletter {
  margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter input[type="email"] {
  border: 0;
  padding: 6px 8px;
  width: 65%;
  color:#000000;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
  background: #007bff;
  border: 0;
  width: 35%;
  padding: 6px 0;
  text-align: center;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type="submit"]:hover {
  background: #0062cc;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  text-align: center;
  font-size: 13px;
  color: #f1f7ff;
}

#footer .credits a {
  color: #bfddfe;
}

#footer .credits a:hover {
  color: #f1f7ff;
}


/* Team Section
--------------------------------*/

#team {
  background: url('../img/pb.jpg') center fixed;
  background-size: cover;
  overflow:auto;
  padding: 10px 0;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding-bottom:60px;
}

#team .member {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

#team .member .member-info {
  opacity: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  bottom:0;
  top: 0;
  left: 485px;
  right:485px;
  transition: 0.2s;
}

#team .member .member-info-content {
  margin:0;
}

#team .member:hover .member-info {
  background: rgba(0, 62, 128, 0.7);
  opacity: 1;
  transition: 0.4s;
}

#team .member:hover .member-info-content {
  transition: 20px;
}

#team .member h4 {
  font-weight: 700;
  font-size: 18px;
  color: #fff;
}

#team .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
  color: #fff;
}

#team .member .social {
  margin-top: 15px;
}

#team .member .social a {
  transition: none;
  color: #fff;
}

#team .member .social a:hover {
  color: #007bff;
}

#team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}

/* ==========================================================================
Nav Overlay
========================================================================== */
/* Overlay style */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 82, 113, 0.95);
}

/* Menu style */
.overlay nav {
    position: relative;
    top: 50%;
    height: 60%;
    text-align: center;
    font-size: 54px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.overlay ul {
    position: relative;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    list-style: none;
}
.overlay ul li {
    display: block;
    float: left;
    margin-right: 20px;
	padding:20px;
}
.overlay ul li:last-child {
    margin-right: 0px
}
.overlay ul li i {
    display: block;
    margin-bottom: 10px;
    font-size: 40px;
}
.overlay ul li a {
    display: block;
    padding: 50px 0;
    min-width: 190px;
    border: 2px solid #fff;
    border-radius: 3px;
    background-color: #345271;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 15px;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.overlay ul li a:hover, .overlay ul li a:focus {
    border-color: #73d0da;
    color: #73d0da;
}

/* Effects */
.overlay-boxify {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s;
}
.overlay-boxify.open {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
.overlay-boxify nav ul li {
    opacity: 0;
    -webkit-transform: translate3d(0, -80px, 0);
    transform: translate3d(0, -80px, 0);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}
.overlay-boxify.open nav ul:first-child li:first-child {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}
.overlay-boxify.open nav ul:first-child li:nth-child(2) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}
.overlay-boxify.open nav ul:nth-child(2) li:first-child {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}
.overlay-boxify.open nav ul:nth-child(2) li:nth-child(2) {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
.overlay-boxify.open nav ul li {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

/* ==========================================================================
Waypoints
========================================================================== */
.wp1, .wp2, .wp3, .wp4, .wp5, .wp6 {
    visibility: hidden
}
.bounceInLeft, .bounceInRight, .fadeInUp, .fadeInUpDelay, .fadeInDown, .fadeInUpD, .fadeInLeft, .fadeInRight, .bounceInDown {
    visibility: visible
}
.delay-05s {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
.delay-1s {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
/*Poster*/
.poster {
	background: url('../img/pbg.jpg') center fixed;
    background-size: cover;
	overflow:auto;
	padding:0;
	margin:0;
}
.prize, .prize img{
	padding:0;
	text-align:center;
}